<h1>Chamados</h1>


<div class="panel panel-primary">
    <div class="panel-heading"><h4>Meus Chamados</h4></div>
    <div class="panel-body">
        <!--<a href="/#!/chamados/cadastrar" class="btn btn-success"><i class="fas fa-plus"></i> Cadastrar</a>
        -->
        {{isAdmin}}
        <table class="table table-stripped table-condensed">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Cliente</th>
                    <th>data Abertura</th>
                    <th>data atendimento</th>
                    <th>Status</th>
                    <th ng-show="isAdmin">ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chamado in chamados">
                    <td ng-bind="chamado.titulo"></td>
                    <td ng-bind="chamado.requerente"></td>
                    <td>{{chamado.data_abertura| date:'MM/dd/yyyy - h:mm'}}</td>
                    <td>{{chamado.data_fechamento| date:'MM/dd/yyyy - h:mm'}}</td>
                    <td ng-bind="chamado.status"></td>
                    <td>
                        <a ng-show="isAdmin" href="/#!/chamados/editar/{{chamado._id}}" class="btn btn-info    btn-sm"><i class="fas fa-edit"></i></a>
                        <button ng-show="isAdmin" ng-click="removerChamado(chamado)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
