
.icone-tela{
    background-color: #f6f9ff42;
    padding: 10px;
    border-bottom-color: silver;
	}
	
	
	
	
	.navbar-inverse {
    background-color: #429ee7;
    border-color: #006abe;
}