<h1>Editar avaliações</h1>

<form name="FormCadastreSe">
        <div class="form-group">
        <label for="login">avaliação1</label>
        <input class="form-control" type="text" id="login" ng-model="usuario.login" ng-required="true">
    </div>
    <div class="form-group">
        <label for="senha">avaliação2</label>
        <input class="form-control" type="password" id="senha" ng-model="usuario.senha" ng-required="true">
       <div class="form-group">
<label for="nome">Trabalho</label>
<input class="form-control" type="text" id="nome" ng-model="data.trabalho" ng-required="true">   
</form>