<h1>Editar disciplina</h1>

<form name="FormCadastreSe">
        <div class="form-group">
        <label for="login">Nome</label>
        <input class="form-control" type="text" id="login" ng-model="usuario.login" ng-required="true">
    </div>
    <div class="form-group">
        <label for="senha">Carga Horaria</label>
        <input class="form-control" type="password" id="senha" ng-model="usuario.senha" ng-required="true">
       <div class="form-group">
<label for="nome">Valor</label>
<input class="form-control" type="text" id="nome" ng-model="data.trabalho" ng-required="true">   
</form>